.git
.github
.vscode
.idea
.fleet
.nova
.zed
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.docker.example
.phpunit.result.cache
.phpunit.cache
npm-debug.log
yarn-error.log
test_results
