APP_NAME=BanHang
APP_ENV=local
APP_KEY=base64:rC2RMoIEmkZ3Gz6lMAxA6f5iJFGK23l7rYeom+8nF88=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_PORT=8080

DB_CONNECTION=pgsql
DB_HOST=db.zegdcaqmhvydyxgxrjvt.supabase.co
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=Kirishima084009!?

CACHE_STORE=database
SESSION_DRIVER=database
QUEUE_CONNECTION=database

VITE_PORT=5173
VITE_DEV_SERVER_URL=http://localhost:5173

# Cloudinary
CLOUDINARY_URL=cloudinary://665672784584479:o_8bECMKYcugtFj5VKM8p3Cm2vQ@dqfqgzrgx
CLOUDINARY_CLOUD_NAME=dqfqgzrgx
CLOUDINARY_API_KEY=665672784584479
CLOUDINARY_API_SECRET=o_8bECMKYcugtFj5VKM8p3Cm2vQ

# VietQR
VIETQR_CLIENT_ID=
VIETQR_API_KEY=
VIETQR_ACCOUNT_NO=1014232408
VIETQR_ACCOUNT_NAME="Nguyen Van Sang"
VIETQR_BIN=970436
VIETQR_TEMPLATE=compact2

# Playwright Test Config
PLAYWRIGHT_BASE_URL=http://127.0.0.1:8000
PLAYWRIGHT_ADMIN_URL=http://127.0.0.1:8000/admin/dashboard
PLAYWRIGHT_USER_EMAIL=khanhtrung778@gmail.com
PLAYWRIGHT_USER_PASSWORD=123456
PLAYWRIGHT_ADMIN_EMAIL=khanhtrung778@gmail.com
PLAYWRIGHT_ADMIN_PASSWORD=123456

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zegdcaqmhvydyxgxrjvt.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_f_X3W93mF48Y183YDKx3_g_WFD5LjUv
