APP_NAME=BanHang
APP_ENV=production
APP_KEY=base64:rC2RMoIEmkZ3Gz6lMAxA6f5iJFGK23l7rYeom+8nF88=
APP_DEBUG=false
APP_URL=https://your-app.vercel.app
DB_CONNECTION=pgsql
DB_HOST=db.zegdcaqmhvydyxgxrjvt.supabase.co
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=Kirishima084009!?
CACHE_DRIVER=array
SESSION_DRIVER=cookie
QUEUE_CONNECTION=sync
CLOUDINARY_CLOUD_NAME=dqfqgzrgx
CLOUDINARY_API_KEY=665672784584479
CLOUDINARY_API_SECRET=o_8bECMKYcugtFj5VKM8p3Cm2vQ
